accelerate==1.14.0
annotated-doc==0.0.4
anyio==4.13.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.4.2
cmakelang==0.6.13
detect-secrets==1.5.0
distlib==0.4.0
filelock==3.20.3
fsspec==2026.2.0
h11==0.16.0
hf-xet==1.5.2
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.24.0
idna==3.11
Jinja2==3.1.6
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
mpmath==1.3.0
networkx==3.6.1
numpy==2.4.3
packaging==26.0
peft==0.19.1
platformdirs==4.5.1
psutil==7.2.2
Pygments==2.20.0
PyYAML==6.0.3
regex==2026.7.19
requests==2.33.0
rich==15.0.0
rwkv @ file:///home/vaniello/.libs/python/rwkv-0.8.32-py3-none-any.whl#sha256=d3f0594810a4a7e91569f177003ec22294c3eabc91c5f8d0ff3511702d4b67c1
safetensors==0.8.0
setuptools==70.2.0
shellingham==1.5.4
spotdl==4.4.3
sympy==1.14.0
tokenizers==0.22.2
torch==2.11.0+cpu
tqdm==4.67.3
transformers==5.14.1
typer==0.27.0
typing_extensions==4.15.0
urllib3==2.6.3
virtualenv==20.36.1
yt-dlp==2026.3.17
